* {
  font-family: Arial, Helvetica, sans-serif;
}

.container1 {
  position: relative;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.9);
  top: 10%;
  left: 37%;
  width: 53vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  border: 5px solid black;
  border-radius: 3% 3% 10% 3%;
  padding: 10px;
  margin: 10px;
}

.container1 .screenp {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  /* border: 5px solid black; */
  padding: 10px;
  margin: 10px;
}

.container1 .screenp .protector {
  display: flex;
  background-color: gray;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  border-radius: 10% 10% 30% 10%/10% 10% 30% 10%;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.9);
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  width: 325px;
  height: 220px;
}

.container1 .screenp .protector .display {
  display: flex;
  position: absolute;
  width: 70%;
  height: 80%;
  padding: 10px;
  margin: 10px;
}

.song {
  display: flex;
  width: 100%;
  height: 100%;
}
.song .cover {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.song .cover img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.song .cover .progress {
  height: 5%;
  max-width: 93%;
  width: 0%;
  background-color: #404000;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 9px;
}
.song audio {
  display: none;
}

.container1 .brand {
  display: flex;
  position: absolute;
  left: 55px;
  top: 300px;
}

.container1 .buttons {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  position: absolute;
  background-color: gray;
  justify-content: space-between;
  border-radius: 27% 27% 29% 21%/52% 50% 46% 45%;
  box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.9);
  right: 20px;
  bottom: 200px;
  transform: rotate(-40deg);
  width: 100px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.container1 .buttons .a {
  display: flex;
  background-color: red;
  border: 5px solid black;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.9);
  line-height: 145px;
  text-align: center;
  border-radius: 50% 50% 50% 50%;
  height: 40px;
  width: 40px;
}
.container1 .buttons .a .btn {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 50% 50%;
  cursor: pointer;
}

.container1 .buttons .b {
  display: flex;
  background-color: red;
  border: 5px solid black;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.9);
  line-height: 145px;
  text-align: center;
  border-radius: 50% 50% 50% 50%;
  height: 40px;
  width: 40px;
}
.container1 .buttons .b .btn {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 50% 50%;
  cursor: pointer;
}

.container1 .cross {
  display: flex;
  /* border: 5px solid black; */
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 20px;
  width: 120px;
  height: 120px;
  bottom: 180px;
}

.container1 .cross .crossH {
  display: flex;
  border: 5px solid black;
  flex-flow: row;
  justify-content: space-between;
  background-color: gray;
  position: absolute;
  border-radius: 15% 15% 15% 15%/25% 25% 25% 25%;
  width: 120px;
  height: 40px;
  z-index: 2;
}
.container1 .cross .crossH .ffd {
  width: 25%;
  height: 100%;
}
.container1 .cross .crossH .fbd {
  width: 25%;
  height: 100%;
}

.container1 .cross .crossV {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 5px solid black;
  background-color: gray;
  position: absolute;
  border-radius: 25% 25% 25% 25%/15% 15% 15% 15%;
  width: 40px;
  height: 120px;
  z-index: 3;
}
.container1 .cross .crossV .volUp {
  width: 100%;
  height: 25%;
}
.container1 .cross .crossV .volDn {
  width: 100%;
  height: 25%;
}

.container1 .select {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  position: absolute;
  background-color: gray;
  line-height: 55px;
  text-align: center;
  border-radius: 27% 27% 29% 21%/52% 50% 46% 45%;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.9);
  left: 90px;
  bottom: 80px;
  transform: rotate(-40deg);
  width: 60px;
  height: 5px;
  padding: 10px;
  margin: 10px;
}

.container1 .start {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  position: absolute;
  background-color: gray;
  line-height: 55px;
  text-align: center;
  border-radius: 27% 27% 29% 21%/52% 50% 46% 45%;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.9);
  left: 190px;
  bottom: 80px;
  transform: rotate(-40deg);
  width: 60px;
  height: 5px;
  padding: 10px;
  margin: 10px;
}

.container1 .things {
  transform: rotate(-30deg);
  display: flex;
  position: absolute;
  width: 100px;
  height: 70px;
  bottom: 25px;
  right: 25px;
  justify-content: space-evenly;
}

.container1 .things .inside {
  display: flex;
  height: inherit;
  width: 15px;
  background-color: #e0e014;
  box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.9);
  border-radius: 27% 27% 29% 21%/52% 50% 46% 45%;
}

/*# sourceMappingURL=main.css.map */
